* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(212, 45%, 89%);
  --Slate500: hsl(216, 15%, 48%);
  --Slate900: hsl(218, 44%, 22%)
}

body {
  background: var(--Lightgray);
}

section {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 3rem;
}

.qr_card {
  background-color: var(--White);
  margin: auto;
  width: 22rem;
  padding: 1rem;
  box-shadow: 1px 12px 23px 1px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.qr_card>img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

h2 {
  color: var(--Slate900);
  font-weight: 900;
  padding: 1rem 0;
}

p {
  color: var(--Slate500);
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 1.5rem;
  word-spacing: 0.2rem;
}




@media only screen and (max-width: 666px) {
  section {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 320px) {
  section {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }
}